body{
  margin:0;
}
a, a:visited{
  color: blue;
  text-decoration: none;
}
h1{
  border-bottom:1px;
  text-align: center;
  padding:20px;
  margin:0;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
  #grid ol{
    border-right: 1px solid black;
    width:100px;
    margin:0;
    padding:20px;
    padding-left:35px;
  }
  #grid #article{
    padding:25px;
  }
@media(max-width:800px){
  h1{
    border:none;
  }
  #grid{
    display:block;
  }
  #grid ol{
    border:none;
  }
}
