body{
  margin:0;
}
span{
  display: block;
  text-align: left;
  padding:.25em;
  width: 100%;
}
  span.top{
    border-bottom: 1px solid black;
  }
  span.bottom{
    border-top: 1px solid black;
  }
a, a:visited{
  color: black;
  text-decoration: none;
}
header, footer{
  text-align: center;
  padding:20px;
  margin:0;
}

header{
  background-color: lightblue;
  border-bottom:1px;
}
footer{
  background-color: #36BC9B;
  border-top:1px;
}
#grid{
  display:grid;
  grid-template-columns: 150px 1fr;
}
  #grid ol{
    border-right: 1px solid black;
    width:100px;
    margin:0;
    padding:0 20px 0 35px;
  }
  #grid #article{
    padding:0 25px 0 25px;
  }
@media(max-width:800px){
  h1{
    border:none;
  }
  #grid{
    display:block;
  }
  #grid ol{
    border:none;
  }
}
